.container-fluid {
  background-color: rgb(26,188,156);
  /* height: 400px; */
  color: white;
  text-align: center;
}

.row.nav {
  background-color: rgb(44,62,80);
  height: 60px;
}

.container {
  /* background-color: yellow; */
  height: 100%;
  border: 1px solid black;
}

h1 {
  clear: both;
  padding: 10px;
}

.fa.fa-star {
  font-size: 26px
}

.thestar::before, .thestar::after {
  content: "";
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
  line-height: 4px;
  vertical-align: super;
  background-color: white;
}
